@media only screen and (max-width: 900px) {
    .hideOnMobile {
        display:none;
    }
}
@media only screen and (max-width: 600px) {
    .non-mobile {
        display:none;
    }
    .mobile {
        display:inline-block;
    }
    #head-banner {
        height: 100vh;
    }
}